* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

hr {
  border: 1px solid black;
}

input[type="button"],
button {
  font-weight: 500;
  border: 1px solid black;
  color: #fff;
  margin: 4px;
  padding: 1px 10px;
  background-color: royalblue;
  border-radius: 15px;
}

input[type="text"] {
  background-color: lightgray;
  border: 1.5px solid black;
  font-size: 1.1em;
  padding: 1px 2px;
  width: 90%;
}

.app {
  background-color: lightyellow;
}

.card {
  width: 225px;
  margin: 5px;
  padding: 5px;
  background-color: #ffcf54;
  border: 2.5px solid black;
  border-radius: 10px;
}

.prompt {
  text-indent: 2em;
  font-weight: 500;
  height: 7.2em;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}

.clue,
.clue-prompt {
  height: 4em;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  border-radius: 5px;
}

.clue-prompt {
  border: 1.5px solid black;
}

form {
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .card-grid {
    width: 960px;
  }
}

.userOptions {
  display: flex;
  justify-content: space-around;
}

.userInteractions {
  height: 3.2em;
  text-align: center;
}
